@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.display-item {
    display: flex;
}

.btn-primary {
    color: #fff;
    padding: 13px 16px;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(-106deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 4px;
    align-items: center;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(100deg, #FB09B4, #9100F8, #F7E93F);
    filter: drop-shadow(0 0 10px #f7e83f32);
    transform: scale(1.04);
}

.section-title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.c-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

header {
    width: 100%;
}

.section-area {
    max-width: 1200px;
    margin: 0 auto;
}

/* nav bar related styles */
.nav-bar {
    background-color: #1A0B2E;
    justify-content: space-between;
    padding: 24px 200px;
    align-items: center;
}



.nav-item {
    color: #fff;
    gap: 32px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}

.brand .wave {
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(-360deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand h2 {
    font-size: 4rem;
    font-weight: 700;
}

.brand {
    color: #fff;
}

/* wave gradient color problem */
.brand .wave {
    color: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

/* wave gradient section end */

.list-item a {
    text-decoration: none;
    color: #fff;
}

/* banner related styles */
.banner{
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;

    border-top: 0.5px solid lightgrey;

    overflow: hidden;
}

.banner > * {
    position: relative;
    z-index: 1;
}

.img-circle-mic{
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 100px;
}
.circle{
    width: 420px;
}

.mic{
    position: absolute;
    top: 20%;
    right:33%;
    width: 140px;
}
.btn-banner{
    margin-top: 24px;
    gap: 10px;
}

.badge{
    text-align: center;
    justify-items: center;
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    padding: 8px 18px;
    max-width: 75px;
    color: #1A0B2E;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

}

.badge{
    position: absolute;
    top: -1500%;
    right: 5%;
}

.badge:hover{
    filter: brightness(#00ff88);
}

.banner-title {
    font-size: 3.8rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 14px;

}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
}


.sub {
    background-color: transparent;
    align-items: center;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 12px 25px;
    border-radius: 1000px;
    gap: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;

}

.sub:hover {
    background-color: rgba(127, 255, 212, 0.39);
    filter: drop-shadow(0 0 10px #00ff8821);
    transform: scale(1.04);
}

/* end of banner section */

/* about related styles */
.about{
    padding-top: 50px;
}
.bg-about {
    background-color: #1A0B2E;
    color: #fff;

}

main {
    background-color: #1A0B2E;
}

.about-description {
    margin-top: 16px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 16px;
}

.about-bottom {
    margin-top: 25px;
    margin-bottom: 160px;
    text-align: center;
}

.about-rating {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-top: 0.5px solid rgba(211, 211, 211, 0.443);
    padding-top: 80px;
}

.rating {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.rating-details {
    justify-content: space-between;
    align-items: center;
}

.details {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding-bottom: 120px;
}

/* choose related styles */
#bg-2 {
    background-color: #230E3D;
    padding-top: 120px;
}

.choose {
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    padding-bottom: 120px;
}

/* 1st card */
.premium {
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 1;
    grid-row: span 2;
    align-items: center;
    justify-content: center;
    padding: 107px 40px;
    border: none;
    border-radius: 40px
}

.premium {
    transition: 0.4s ease;
}

.premium img {
    margin-bottom: 16px;
}

.headphone {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.audio-details {
    font-size: 1rem;
    font-weight: 400;

}

/* 2nd card */
.mobile {
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 40px;
    transition: 0.4s ease;
}

.mobile img {
    margin-bottom: 16px;
}

.friendly {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.mobile-details {
    font-size: 1rem;
    font-weight: 400;

}

/* 3rd card */
.global {
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 40px;
    transition: 0.4s ease;
}

.global img {
    margin-bottom: 16px;
}

.community {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.global-details {
    font-size: 1rem;
    font-weight: 400;
}

/* 4th card */
.exclusive {
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 40px;
    transition: .4s ease;
}

.exclusive img {
    margin-bottom: 16px;
}

.interviews {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.exclusive-details {
    font-size: 1rem;
    font-weight: 400;
}

/* 5th card */
.rich {
    background-color: rgba(53, 17, 101, 0.4);
    grid-column: span 1;
    grid-row: span 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 40px;
    transition: 0.4s ease;
}

.rich img {
    margin-bottom: 16px;
}

.resources {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.rich-details {
    font-size: 1rem;
    font-weight: 400;
}

/* hover effect */
.premium:hover {
    transform: scale(1.01);
}

.mobile:hover {
    transform: scale(1.01);
}

.global:hover {
    transform: scale(1.01);
}

.exclusive:hover {
    transform: scale(1.01);
}

.rich:hover {
    transform: scale(1.01);
}

/* feature related style */
.padd {
    padding-top: 120px;
}

.feature {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 120px;
}

.video-card {
    gap: 30px;
}

.video-card>div {
    flex: 1 1 320px;
    max-width: 380px
}

.video-card iframe {
    width: 100%;
    height: 225px;
    border-radius: 24px 24px 0 0;
}

.video-1st,
.video-2nd,
.video-3rd {
    background-color: #250D44;
    border: none;
    border-radius: 24px 24px 24px 24px;
    transition: 0.4s ease;
}

.video-1st-text,
.video-2nd-text,
.video-3rd-text {
    padding: 24px;
    color: #fff;
}

.video-caption-1,
.video-caption-2,
.video-caption-3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.video-details-1,
.video-details-2,
.video-details-3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
}

.video-time-1st,
.video-time-2nd,
.video-time-3rd {
    font-weight: 600;
    color: #00FF88;
    gap: 6px;
    align-items: center;
}

.video-1st:hover {
    transform: scale(1.04);
}

.video-2nd:hover {
    transform: scale(1.04);
}

.video-3rd:hover {
    transform: scale(1.04);
}

/* host-related styles*/
.host {
    padding-bottom: 120px;
}

.alex-detail-pic {
    max-width: 1200px;
    margin: 0 auto;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.alex-detail-pic {
    background-color: #35116566;
    border: none;
    border-radius: 40px;
    padding: 40px;
    margin-top: 40px;
}

.alex-details {
    color: #fff;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.alex-about {
    line-height: 1.5;
    margin-bottom: 16px;
}

.social-icon {
    gap: 10px;

}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    padding: 15px;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease;
}


.social-icon img {
    width: 20px;
    height: 20px;
}

.icon-1:hover {
    background: linear-gradient(45deg, #f7e83f22, #fb09b21d, #9100f823);
    filter: drop-shadow(0 0 8px #9100f831);
    transform: scale(1.04);
}

.icon-2:hover {
    background: linear-gradient(45deg, #f7e83f22, #fb09b21d, #9100f823);
    filter: drop-shadow(0 0 8px #9100f831);
    transform: scale(1.04);
}

.icon-3:hover {
    background: linear-gradient(45deg, #f7e83f22, #fb09b21d, #9100f823);
    filter: drop-shadow(0 0 8px #9100f831);
    transform: scale(1.04);
}

.icon-4:hover {
    background: linear-gradient(45deg, #f7e83f22, #fb09b21d, #9100f823);
    filter: drop-shadow(0 0 8px #9100f831);
    transform: scale(1.04);
}

/* footer related style */

.footer{
    background-image: url('../assets/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 50vh;
    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;

    overflow: hidden;
    margin: 0 auto;
}

.footer>*{
    position: relative;
    z-index: 1;
}
.footer-all{
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.brand-foot{
    position: absolute;
    top: -50%;
    right: 10%;
}

.footer-details-container{
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 35px;
}
.footer-details{
    position: absolute;
    top: 300%;
    right: 7%;
}
.copy-container{
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 35px;
}
.copy{
    position: absolute;
    top: 180%;
    right: 15%;
}
.wave-foot {
    font-size: 6rem;
    font-weight: 700;
    background: linear-gradient(-360deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-foot h2 {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
}

.footer-details{
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    gap: 40px;
    max-width: 545px;
}

.spotify-2,
.apple, 
.youtube, 
.twitter{
    gap: 8px;
}
.copy{
    color: #fff;
}

/* responsive */
/* small devices */

@media screen and (max-width: 576px) {
   
}