@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */

.display-item{
    display: flex;
}

.btn-primary{
    color: #fff;
    padding: 13px 16px;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(-106deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 4px;
    align-items: center;
}

.btn-primary:hover{
    background: linear-gradient(100deg, #FB09B4, #9100F8, #F7E93F);
    filter: drop-shadow(0 0 10px #f7e83f5c);
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.c-paragraph{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

header{
    width: 100%;
}

main>section{
    max-width: 1200px;
    margin: 0 auto;
}

/* nav bar related styles */
.nav-bar{
    background-color: #1A0B2E;
    justify-content: space-between;
    padding: 24px 200px;
    align-items: center;
}



.nav-item{
    color: #fff;
    gap: 32px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}

.brand{
    color: #fff;
}
/* wave gradient color problem */
.brand .wave{
   color: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
/* wave gradient section end */

.list-item a{
    text-decoration: none;
    color: #fff;
}
/* banner related styles */
.img-3{
    border-top: 0.3px solid rgba(255, 255, 255, 0.484);
}

.img-3 img{
     width: 100%;
    object-fit: cover;
    display: block;
}

.image-container{
    position: relative;
}

.img-1{
    position: absolute;
    right: 615px;
    top: 100px;
}

.img-2{
    position: absolute;
    right: 731px;
    top: 178px;
}
.banner{
    position: relative;
}
.banner-title{
    position: absolute;
    right: 650px;
    top: 490px;
    font-size: 3.8rem;
    font-weight: 800;
    color: #fff;
    text-align: center;

}

.banner-description{
    position: absolute;
    right: 520px;
    top: 572px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.spotify{
    position: absolute;
    right: 790px;
    top: 625px;
}

.sub{
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 12px 25px;
    border-radius: 1000px;
    gap: 6px;
    font-weight: 600;
    cursor: pointer;

}

.sub{
    position: absolute;
    right: 640px;
    top: 627px;
}
.sub:hover{
    background-color: rgba(127, 255, 212, 0.39);
    filter: drop-shadow(0 0 10px #00FF88);
}
/* end of banner section */

/* about related styles */
main{
    background-color: #1A0B2E;
    color: #fff;

}

.about{
    
}

.about-description{
    margin-top: 16px;
    text-align: center;
}

.about-bottom{
    margin-top: 25px;
    margin-bottom: 160px;
    text-align: center;
}
.about-rating{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-top: 0.5px solid rgba(211, 211, 211, 0.443);
    padding-top: 80px;
}
.rating{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.rating-details{
    justify-content: space-between;
    align-items: center;
}
.details{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding-bottom: 120px;
}
